PORT=5000

# Nếu dùng MongoDB Atlas (Cloud)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/bug_management_db?retryWrites=true&w=majority

# Hoặc nếu bạn dùng MongoDB Compass (Local dưới máy)
MONGO_URI=mongodb://127.0.0.1:27017/local

# Chìa khóa bảo mật để mã hóa Token JWT
JWT_SECRET=your_jwt_secret_key_here

# API Key của Gemini
GEMINI_API_KEY_MAIN=your_gemini_api_key_here
GEMINI_API_KEY_BACKUP_1=your_backup_key_1
GEMINI_API_KEY_BACKUP_2=your_backup_key_2

GEMINI_PRO_KEY_1=your_pro_key_1
GEMINI_PRO_KEY_2=your_pro_key_2
GEMINI_PRO_KEY_3=your_pro_key_3

GEMINI_FLASH8B_KEY_1=your_flash_key_1
GEMINI_FLASH8B_KEY_2=your_flash_key_2
GEMINI_FLASH8B_KEY_3=your_flash_key_3
